<?xml version="1.0"?>

<configuration>
  
  <!-- set up the razor configuration sections below -->
  <configSections>
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <!-- razor configuration sections-->
  <system.web.webPages.razor>

    <!-- turn on the razor view engine -->
    <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=5.2.3.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />

    <!-- base class for views -->
    <pages pageBaseType="System.Web.Mvc.WebViewPage">

      <!-- namespaces that should be automatically avaliable to views -->
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />

        <!-- our application namespace -->
        <add namespace="MvcTheHardWay" />

      </namespaces>
    </pages>
  </system.web.webPages.razor>

  <!-- 	
		enable/disable *.cshtml file execution when accessed directly (not via controller routing and the view page engine). 
  
		enabling web pages will cause the web page to be served directly, and the MVC view engine will not be used. the web page 
		should inherit from System.Web.WebPages.WebPage in this case.
		
		if disabled (which it should be for MVC) the web page is not processed and the router is skipped because the file exists.
		IIS matches the BlockViewHandler defined below and you'll get the 404. 
  -->
  <appSettings>
    <add key="webpages:Enabled" value="false" />
  </appSettings>

  <!-- don't allow any files to be served directly from this folder (including views) -->
  <system.webServer>
    <handlers>
      <remove name="BlockViewHandler"/>
      <add name="BlockViewHandler" path="*" verb="*" preCondition="integratedMode" type="System.Web.HttpNotFoundHandler" />
    </handlers>
  </system.webServer>

</configuration>
